# C/C++ Code Style settings 
BasedOnStyle: LLVM
AccessModifierOffset: -4
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
PointerAlignment: Left
ReferenceAlignment: Left
AlwaysBreakTemplateDeclarations: Yes
IndentCaseLabels: true
AllowShortIfStatementsOnASingleLine: true
